header {
 background-color: #cccccc;
 background-image: url('../images/flywheel.jpg');
 background-size: cover;
 background-repeat: no repeat;
}

h1 {
 text-align: center;
 color: rgba(192,192,192);
 text-transform: uppercase;
 font-size: 30pt;
}

nav {
 text-align: center; 
}

nav a {
  display: inline-block;
  background-color: #D3D3D3;
  color: rgba(25,25,112);
  font-size: 14pt; 
  opacity: 0.5;
  margin: 30px;
  text-decoration: none;
  padding: 15px 45px;
  -webkit-text-stroke: .6px black;
}

a {
 border: 2px solid none;
 border-radius: 8px;
 margin: 5px;
 padding: 10px;
 cursor: pointer;
}

nav a:hover {
  background-color: #555;
  color: white;
}

nav a:visited {
  color: #FA8072;
}

.active {
 color: #DC143C; 
 background-color: #FFDAB9;
}

img {
 width: 230px;
 height: 160px;
 display: block;
 border: 2px solid black;
}

h2 {
 text-transform: uppercase;
 text-align: left;
 color: rgba(47,79,79);
}

.left {
 background-color:#FFDAB9; 
 box-sizing: border-box;
 float: left;
 position: relative;
 padding: 25px;
}

.right {
 position: absolute;
 display: inline-block;
 margin: 0 auto;
 padding: 5px;
}

body {
 padding: 5px;
 margin: 15px;
 font-family: 'Brush Script MT', cursive;
}
